<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta charset="utf-8">

  <meta name="description" content="A personal blog on digital strategy, but I actually code, so, you know...">
  <meta name="author" content="Jökull Sólberg Auðunsson">
  <meta property="og:image" content="http://www.solberg.is{{ SITEURL }}/theme/badge.png?new">
  <meta property="og:type" content="blog">

  <script type="text/javascript" src="http://use.typekit.com/zuz7rwg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" href="{{ SITEURL }}/feeds/all.atom.xml" type="application/atom+xml">

  <link rel="stylesheet" href="{{ SITEURL }}/theme/base.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/skeleton.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/styles.css">
  
  <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-1.7-development-only.js"></script>

</head>

<body id="index" class="home">
  
    
  <header>
    <div class="container">
      <div class="sixteen columns">
        <h1>
          <a href="{{ SITEURL }}">
            <img src="{{ SITEURL }}/theme/solberg_grain.png" alt="{{ SITENAME }}"></a></h1>
      </div>
    </div>
  </header>

  <div class="container">
    
    <div class="row">
      <div class="sixteen columns">
      {% block content %}
      {% endblock %}
      </div>
    </div>

    <footer class="row">
      <div class="sixteen columns">
        <p>I build web things » Tech Director at Jónsson & Le'macks, Iceland</p>
        <p><a href="http://twitter.com/jokull">@jokull</a> ~ jokull@solberg.is</p>
        <p>Static generated blog using <a href="http://pelican.readthedocs.org/">Pelican</a></p>
        <p><a href="https://github.com/jokull/solberg.is">Theme and source files on Github</a></p>
      </div>
    </footer>

  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24416578-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</body>
</html>
